
.content
    padding-top: 50px
    display: flex
    justify-content: center
    width: 100%
    height: 100%
    flex-direction: column

.titleTab
    display: flex
    width: 70%
    justify-content: space-between
    h3
        color: gray
        font-size: 3vh


mat-panel-title
    font-size: 3.5vh
mat-panel-description
    font-size: 3.5vh
    color: black


tr.example-detail-row 
  height: 0


tr.example-element-row:not(.example-expanded-row):hover 
  background: whitesmoke


tr.example-element-row:not(.example-expanded-row):active 
  background: #efefef


.example-element-row td 
  border-bottom-width: 0


.example-element-detail 
  overflow: hidden
  display: flex


.tabVotes
    width: 100%

.page-title
    padding-top: 5%
    padding-bottom: 2%
    display: flex
    justify-content: center
    align-items: center

.page-title>img
    width: 120px
