<div class="main">

    <div class="page-title">
        <img src="../../assets/Images/logo.gif">
        <h1>Vote cfdt</h1>
    </div>

<div class="form">

   <h5>Vous avez rejoins la salle de vote {{routeSlug}}</h5><!-- TODO: remplir par le nom de la salle de vote --> 
  <mat-form-field appearance="fill" class="field">
    <mat-label>Identifiez vous</mat-label>
    <input matInput placeholder="votre@mail.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
</div>
