<div class="main">

    <div class="page-title">
        <img src="../../assets/Images/logo.gif">
        <h1>Vote cfdt</h1>
    </div>

    <div class="content">
        <div class="notStarted" *ngIf="!started">
            <div class="slugQR">
                <h3>{{routeSlug}}</h3>
                <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

            </div>
            <button mat-raised-button matTooltip="Si vous souhaitez commencer les votes plus tard, vous pouvez ré-acceder à cette page depuis la page d'accueil avec vos identifiants." (click)="started = true" class="start-button"
                color="primary">Commencer les votes<mat-icon>info</mat-icon></button>
        </div>
        <div class="started" *ngIf="started">
            <h3>Temps Restant : {{RemainingTimeDate}}</h3>
            <div class="voteDesc">
                <h4>{{currentVote.title+" "+(currentVoteNumber+1)+"/"+poll.votes.length}} </h4>
                <h5>{{currentVote.description}}</h5>
            </div>
            <button mat-raised-button [disabled]="voteState!='begin'" (click)="startVote()" class="next-button"
                color="primary">Démarrer le vote</button>
            <button mat-raised-button [disabled]="voteState!='ended'" (click)="nextVote()" class="next-button"
                color="primary">Vote suivant</button>
        </div>

    </div>

</div>