<div class="main-page">

    <div class="page-title">
        <img src="../../assets/Images/logo.gif">
        <h1>Vote cfdt</h1>
    </div>
    <div class="menu-container">

        <a mat-raised-button class="menu-button" color="primary">
            <mat-icon>people</mat-icon>
            <p>Creer une salle de vote</p>
        </a>
        <a mat-raised-button class="menu-button" color="primary">
            <mat-icon>how_to_vote</mat-icon>
            <p>Rejoindre un vote</p>
        </a>
        <a mat-raised-button class="menu-button" color="primary">
            <mat-icon>poll</mat-icon>
            <p>Administrer un vote</p>
        </a>


    </div>
</div>